body {
    font-size: 100%;
    font-family: Arial;
}

html,
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    paddin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.blur {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url('../image/blurred(1).jpg') no-repeat;
    /*-webkit-filter: blur(70px);
    -moz-filter: blur(70px);
    filter: blur(70px);*/
    background-size: cover;
}

.container {
    width: 70%;
    height: 80%;
    color: white;
    background: url('../image/P1030219.JPG') no-repeat center;
    background-size: cover;
    margin: 0 auto;
}

a:link {
    color: green;
}

.days {
    display: flex;
    justify-content: space-around;
    ;
    margin-bottom: 5px;
}

.days div {
    height: 200px;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
}
